[user]
	name = Addison Hernandez
	email = addison.hernandez@gmail.com
[core]
	editor = vim
	autocrlf = input
	safecrlf = true
	excludesfile = /home/addison/.gitignore_global
[help]
	autocorrect = 50
[alias]
	co = checkout
	ci = commit
	civ = commit --verbose
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	logadog = log --all --decorate --oneline --graph
	freeze = update-index --skip-worktree
[init]
	defaultBranch = main
