[include]
	path = /home/addison/.config/delta/themes/catppuccin.gitconfig
[user]
	name = Addison Hernandez
	email = addison.hernandez@gmail.com
[core]
	editor = vim
	autocrlf = input
	safecrlf = true
	excludesfile = /home/addison/.gitignore_global
	pager = delta
[help]
	autocorrect = 50
[alias]
	co = checkout
	ci = commit
	civ = commit --verbose
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	logadog = log --all --decorate --oneline --graph
	freeze = update-index --skip-worktree
[init]
	defaultBranch = main
[commit]
	verbose = true
[fetch]
	prune = true
[interactive]
	diffFilter = delta --color-only
[delta]
	features = catppuccin-macchiato
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
