[user]
	name = Addison Hernandez
	email = addison.hernandez@gmail.com
[core]
	editor = vim
	pager = delta
	autocrlf = input
	safecrlf = true
	excludesfile = /home/addison/.gitignore_global
[help]
	autocorrect = 50
[alias]
	co = checkout
	ci = commit
	civ = commit --verbose
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	logadog = log --all --decorate --oneline --graph
	freeze = update-index --skip-worktree
	type = cat-file -t
	dump = cat-file -p
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	credentialStore = gpg
[credential "https://codeberg.org"]
	provider = generic
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	syntax-theme = gruvbox-dark
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[fetch]
	prune = true
[commit]
	verbose = true
